/* Cards */

.card .outside {
    -fx-arc-width: 10;
    -fx-arc-height: 10;
    -fx-fill: white;
    -fx-stroke: dimgrey;
}

.card:hover  {
    -fx-translate-x: 90;
}

.card .inside {
    -fx-stroke: hsba(0, 0%, 0%, 0.3);
    -fx-stroke-type: inside;
}

.card .train-image {
    -fx-fill: url("train-car.png");
    -fx-opacity: 0.3;
}

.card.NEUTRAL .train-image {
    -fx-fill: url("locomotive.png");
    -fx-opacity: 0.7;
}

.card.NEUTRAL .filled {
    -fx-fill: mediumturquoise;
}

.card .count {
    -fx-font-size: 24;
    -fx-fill: white;
    -fx-stroke: white;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 1, 1);
}

/* Tickets and cards pane (right) */

#card-pane {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 5;
}

Button.gauged {
    -fx-background-color:
            #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-content-display: bottom;
}

Button.gauged:hover {
    -fx-rotate: 360;

    -fx-text-fill: white;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, black 10%, gold 100%),
            #000000,
            #ffffff,
            radial-gradient(center 50% 50%, radius 100%, darkred, darkred);
}

Button.gauged .background {
    -fx-fill: white;
}
Button.gauged .foreground {
    -fx-fill: red;
}

/* Hand pane (tickets and cards held) */

#tickets {
    -fx-pref-width: 400;
    -fx-pref-height: 0;
}

#hand-pane {
    -fx-alignment: center;
    -fx-padding: 5 50 5 50;
    -fx-spacing: 10;
}
